- content_for(:header) do
  .row
    .span9
      %h1 Capo.io brings Capistrano deployments to the masses.
      %h2 Select recipes from our library. Add your own. Download the Capfile. Ship it!
    .span3
      = image_tag "logo.png", :alt => "Capo.io - Bringing Capistrano deployments to the masses", :height => "200px", :class => "header-logo"

%h1 Choose your recipes
= form_for @capfile do |form|
  = form.submit 'Generate', class: 'recipes-form-next'
  .category-recipes
    - Recipe.all.each do |recipe|
      .recipe{"data-content" => recipe.description, "data-delay" => 500, "data-original-title" => recipe.name, "data-placement" => "top", "data-trigger" => "hover", :id => "recipe_#{recipe.name}", "data-dependencies" => "#{recipe.name}#{"," unless recipe.dependencies.empty?}#{recipe.dependencies.join(',')}", "data-checked-from-dependencies" => "", :class => ('selected default' if recipe.name == 'default') }
        = check_box_tag 'recipes[]', recipe.id, recipe.name == 'default' ? true : false, class: 'recipe_check_box', id: "check_recipe_#{recipe.name}"
        .recipe-title
          = recipe.name
