%h1 Selected Capfile
%h3 Included recipes
%ul
  - @recipes.each do |recipe|
    %li= recipe.name

%ul#cap-nav.nav.nav-tabs
  %li.active= link_to 'raw file', '#raw'
  %li= link_to 'modular file', '#module'

.tab-content
  #raw.tab-pane.active
    %h3 Raw Capfile
    .editor_wrapper
      #editor
        - @recipes.each do |recipe|
          = recipe.settings_code
        - @recipes.each do |recipe|
          = recipe.code
    :javascript
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/twilight");
      editor.getSession().setMode("ace/mode/ruby");
  #module.tab-pane
    %h3 Modular capfile
    %p
      To use the modular Capfile format you need to use our gem.
      %br Add <code>gem 'capo', :group => 'development'</code> to your <code>Gemfile</code>.
    %p Run <code>capo begin</code> to generate your <code>Capfile</code> and <code>config/deploy.rb</code>.
    %p Now that you have your basic setup, you can add all the selected recipes by running <code>capo add #{@recipes.map(&:name).join ' '}</code>
    %p After doing that you can change the configuration settings in the recipes found in <code>config/deploy/a_recipe.rb</code>. You can set the default configs in <code>config/deploy.rb</code>.
    %h3 Commands summary
    %p
      .editor_wrapper
        #module_editor
          capo begin
          capo add #{@recipes.map(&:name).join ' '}
    :javascript
      var module_editor = ace.edit("module_editor");
      module_editor.setTheme("ace/theme/twilight");
      module_editor.getSession().setMode("ace/mode/ruby");
